body{
  font-family: 'Open Sans', sans-serif;
}

.h600{
  height: 600px;
}

.paddingpoco{
  padding: 10px;
}

.paddingtanto{
  padding: 50px;
}

.margintanto{
  margin-top: 80px;
  margin-bottom: 80px;
}

a{
  border-radius: 25px !important;
  padding: 10px 10px !important;
}

h4{
  color: #2988D5;
  font-size: 10px;
}

h6{
  font-size: 14px;
}

.gr{
  color: #9C9C9C;
}

.no-bordo{
  border: none !important;
}

/*HEADER*/

.bianco{
  background-color: white;
  height: 80px;
}

.bianco img{
  height: 100%;
}

header ul{
  margin: 0;
}

header .top{
  height: 50px;
  background-color: black;
}

.top img{
  height: 20px;
}

.naviga ul{
  list-style: none;
  color: black;
}

.naviga li{
  display: inline-block;
  padding-left: 10px;
}

.slide{
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*JUMBOTRON*/

.returnal{
  background-image: url(img/jumbo-bg.png);
}

.slide img{
  width: 360px;
}

/*SEZIONE RETTANGOLI SOTTO JUMBO*/

.sju .row .col img{
  width: 100%;
  border-radius: 15px;
}

/*ECCO LA PLAYSTATION 5*/

.elp5 img{
  width: 100%;
}

/*BARRA PRODOTTI*/

.brp img{
  width: 100%;
}

.opaco{
  opacity: 0.5;
}

.opaco:hover{
  opacity: 1;
}

.active{
  margin-bottom: 10px;
  border-bottom: 2px solid blue;
}

/*JUMBO 2*/

.onlytwo{
  background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
}


/*NUOVE USCITE*/

.nu{
  background-color: #1F1F1F;
  color: white;
}

.nu img{
  width: 100%;
  border-radius: 25px;
}

/*ESPLORA PLAYSTATION 4 Card*/


/*PLAYSTATION PLUS   UGUALE a PLAYSTATION NOW*/

.plplus{
  background-color: #BEBCBB;
}

.plplus .immplus, .plnow .immplus{
  width: 60%;
}

.plplus p{
  color: black;
}

/*NUOVI SCONTI BOX*/

/*PLAYSTATION NOW*/

.plnow{
  background-color: #161C3B;
}


/*Social MEDIA*/

.social img{
  width: 100%;
}

/*FOOTER DIVISO in 3 colonne sopra e 1 sotto*/
footer{
  background-color: #00439C;
  color: white;
}

footer ul{
  list-style: none;
}

footer li a{
  text-decoration: none;
  color: white;
}

#sie{
  width: 25%;
}

#logofo{
  width: 18%;
  margin-bottom: 10px;
}

#siecol{
  padding-top: 20px;
}