body{
  font-family: 'Open Sans', sans-serif;
}

.h600{
  height: 600px;
}

.paddingpoco{
  padding: 10px;
}

.paddingtanto{
  padding: 50px;
}

.margintanto{
  margin-top: 80px;
  margin-bottom: 80px;
}

a{
  border-radius: 25px !important;
  padding: 10px 10px !important;
}

h5{
  color: #2988D5;
  transform: uppercase;
}

.gr{
  color: #9C9C9C;
}

/*HEADER*/

header .top{
  height: 50px;
  background-color: black;
}

header .menu{
  height: 80px;
  background-color: blue;
}

header img{
  height: 20px;
}

/*JUMBOTRON*/
.jumbotron{
  color: white;
  background-image: url(img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.jumbotron img{
  width: 360px;
}

/*SEZIONE RETTANGOLI SOTTO JUMBO*/

.sju .row .col img{
  width: 100%;
  border-radius: 15px;
}

/*ECCO LA PLAYSTATION 5*/

.elp5 img{
  width: 100%;
}

/*BARRA PRODOTTI*/


/*JUMBO 2*/


/*NUOVE USCITE*/


/*ESPLORA PLAYSTATION 4 Card*/


/*PLAYSTATION PLUS   UGUALE a PLAYSTATION NOW*/


/*NUOVI SCONTI BOX*/


/*Social MEDIA*/


/*FOOTER DIVISO in 3 colonne sopra e 1 sotto*/